.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.ipynb_checkpoints

# Data and indexes
data/
index/
*.zip
embeddings_heatmap.png
embeddings_pca.png
embeddings_raw.png

# Large datasets
chexpert_full/
